# ========================================== #
#  Initial setting (All assets are ignored)
# ========================================== #
Assets/*

# =========================== #
#  Project specific settings
# =========================== #
!Assets/AgoraEngine
!Assets/AgoraEngine.meta
Assets/AgoraEngine/*

!Assets/AgoraEngine/Scripts
!Assets/AgoraEngine/Scripts.meta
Assets/AgoraEngine/Scripts/*

!Assets/AgoraEngine/Editor
!Assets/AgoraEngine/Editor.meta
Assets/AgoraEngine/Editor/*

!Assets/AgoraEngine/Scripts/AgoraEngine.asmdef
!Assets/AgoraEngine/Scripts/AgoraEngine.asmdef.meta
!Assets/AgoraEngine/Editor/AgoraEngine.Editor.asmdef
!Assets/AgoraEngine/Editor/AgoraEngine.Editor.asmdef.meta

!Assets/ThirdParty
!Assets/ThirdParty.meta
Assets/ThirdParty/*

# ========================================= #
#  Third party assets (Non ignored assets)
# ========================================= #
!Assets/ThirdParty/UniRx
!Assets/ThirdParty/UniRx.meta
!Assets/ThirdParty/UniTask
!Assets/ThirdParty/UniTask.meta

# ================================================================ #
#  Project specific assets and my own assets (Non ignored assets)
# ================================================================ #
!Assets/AgoraVideoSamples
!Assets/AgoraVideoSamples.meta

# ================================ #
#  Config files should be ignored
# ================================ #
*[Cc]onfig.asset
*[Cc]onfig.asset.meta
*[Cc]onfig.json
*[Cc]onfig.json.meta

#
# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/[Aa]pp/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/
.vscode/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*